{% extends "base.html" %}
  {% block body %}
  <div class="container">
    <h5 class="submenu"><i class="fas fa-users"></i> Produtores Cadastrados <a href="{{ url_for('agro.produtor_novo') }}" class="btn btn-primary direita"> Novo</a></h5>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Tamanho</th>
        </tr>
      </thead>
      <tbody>
        {% if produtores %}
          {% for produtor in produtores %}
            <tr onclick="location.href='{{ url_for('agro.produtor_editar', id=produtor.id) }}'">
              <td>{{ produtor.id }}</td>
              <td>{{ produtor.nome }}</td>
              <td>{{ produtor.tamanho }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>

    <div class="centro">
      <button class="btn" onclick="location.href='{{ url_for('index') }}'" type="button"><i class="fa fa-undo" aria-hidden="true"></i> Voltar</button>
    </div>

  </div><!-- /.container -->
  {% endblock %}

  {% block head %}
  <style type="text/css">
    .submenu{
      text-align: center;
      margin: 10px;
    }
    .centro{
      text-align: center;
    }
    .direita{

    }
  </style>
  {% endblock %}