{% extends "base.html" %}
  {% block body %}
  <div class="container">
    <h5 class="submenu"><i class="fas fa-cubes"></i> Produção <a href="{{ url_for('agro.producao_novo') }}" class="btn btn-primary direita"> Novo</a></h5>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Produtor</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Data</th>
        </tr>
      </thead>
      <tbody>
        {% if producoes %}
          {% for p in producoes %}
            <tr onclick="location.href='{{ url_for('agro.producao_editar', id=p.id) }}'">
              <td>{{ p.id }}</td>
              <td>{{ p.produtor.nome }}</td>
              <td>{{ p.quantidade }}</td>
              <td>{{ p.data|date }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>

    <div class="centro">
      <button class="btn" onclick="location.href='{{ url_for('index') }}'" type="button"><i class="fa fa-undo" aria-hidden="true"></i> Voltar</button>
    </div>

  </div><!-- /.container -->
  {% endblock %}

  {% block head %}
  <style type="text/css">
    .submenu{
      text-align: center;
      margin: 10px;
    }
    .centro{
      text-align: center;
    }
    .direita{

    }
  </style>
  {% endblock %}