{% extends "base.html" %}
  {% block body %}
  <div class="container">
    <p class="lead">Bem Vindo! Hackathon Inova Agro 2019</p>
    <p class="lead">Equipe Agro JMV</p>

    <div class="row">
      <div class="col-6">
        <div class="card border-success">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-users"></i> Produtores</h5>
            <p class="card-text">Cadastro de Produtores</p>
            <a href="{{ url_for('agro.produtor') }}" class="btn btn-success"><i class="fas fa-users"></i> Produtores</a>
            <a href="{{ url_for('agro.produtor_novo') }}" class="btn btn-success direita"><i class="fas fa-users"></i> Cadastrar Novo</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card border-danger">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-cubes"></i> Menu 2</h5>
            <p class="card-text">Página do Menu 2</p>
            <a href="#" class="btn btn-danger"><i class="fas fa-cubes"></i> Menu 2</a>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-6">
        <div class="card border-info">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-shopping-cart"></i> Menu 3</h5>
            <p class="card-text">Página do Menu 3</p>
            <a href="#" class="btn btn-info"><i class="fas fa-shopping-cart"></i> Menu 3</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card border-primary">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-cart-plus"></i> Menu 4</h5>
            <p class="card-text">Página do Menu 4</p>
            <a href="#" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Menu 4</a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
  {% endblock %}

  {% block head %}
    <style type="text/css">
      .direita{
        float: right; 
      }
    </style>
  {% endblock %}